{{range $Index, $Catalogue := .Childs}}
<li class="nav-item nav-level-{{$Index}}">
    <a class="nav-link" href="#{{$Catalogue.Anchor}}">
        <span class="nav-number">{{$Index}}.</span>
        <span class="nav-text">{{$Catalogue.Title}}</span>
    </a>
    {{if $Catalogue.Childs}}
    <ol class="nav-child">
        {{template "catalogue.gohtml" $Catalogue.Childs}}
    </ol>
    {{end}}
</li>
{{end}}