{{template "header" .}}

{{with .PageData}}
<body>
<div class="content page posts-expand">
    <div class="post-block" lang="zh-CN">
        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">分类</h1>
            <div class="post-meta"></div>
        </header>
        <div class="post-body">
            <div class="category-all-page">
                <div class="category-all-title" th:text="${'目前共计 ' + categorys.size + ' 个分类'}"></div>
                <div class="category-all">
                    <ul class="category-list">
                        <li class="category-list-item" th:each="category : ${categorys}">
                            <a class="category-list-link" th:href="${'/category/' + category.name}" th:text="${category.name}"></a>
                            <span class="category-list-count" th:text="${category.articleCount}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{{end}}

{{template "footer" .}}