<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="base" type="com.liux.blog.bean.vo.BaseVO"*/-->
<!--/*@thymesVar id="article" type="com.liux.blog.bean.vo.ArticleVO"*/-->
<!--/*@thymesVar id="tags" type="java.util.List<com.liux.blog.bean.vo.TagVO>"*/-->
<!--/*@thymesVar id="prev" type="com.liux.blog.bean.vo.ArticleSimpleVO"*/-->
<!--/*@thymesVar id="next" type="com.liux.blog.bean.vo.ArticleSimpleVO"*/-->

<header>
    <link rel="stylesheet" href="/blog/css/comment.css">
    <script type="text/javascript" src="/blog/js/comment.js"></script>
</header>

<body>
<div class="content post posts-expand">

    <article itemscope itemtype="http://schema.org/Article" class="post-block" lang="zh-CN">

        <link itemprop="mainEntityOfPage" th:href="${'/article/' + article.url}">

        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="image" th:content="${base.masterAvatar}">
            <meta itemprop="name" th:content="${base.masterNickname}">
            <meta itemprop="description" th:content="${base.masterDescription}">
        </span>

        <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            <meta itemprop="name" th:content="${base.siteTitle}">
        </span>

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline" th:text="${article.title}"></h1>

            <div class="post-meta">
                <span class="post-meta-item">
                    <span class="post-meta-item-icon">
                        <i class="fa fa-calendar-o"></i>
                    </span>
                    <span class="post-meta-item-text">发表于</span>
                    <time th:title="${'创建时间：' + #dates.format(article.createTime, 'yyyy-MM-dd HH:mm:ss')}"
                          itemprop="dateCreated datePublished"
                          th:text="${#dates.format(article.createTime, 'yyyy-MM-dd')}"></time>
                </span>
                <span class="post-meta-item">
                    <span class="post-meta-item-icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </span>
                    <span class="post-meta-item-text">更新于</span>
                    <time th:title="${'更新时间：' + #dates.format(article.updateTime, 'yyyy-MM-dd HH:mm:ss')}"
                          itemprop="dateCreated datePublished"
                          th:text="${#dates.format(article.updateTime, 'yyyy-MM-dd')}"></time>
                </span>
                <span class="post-meta-item">
                    <span class="post-meta-item-icon">
                        <i class="fa fa-folder-o"></i>
                    </span>
                    <span class="post-meta-item-text">分类于</span>
                    <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
                        <a th:href="${'/category/' + article.category.name}" itemprop="url" rel="index">
                            <span itemprop="name" th:text="${article.category.name}"></span>
                        </a>
                    </span>
                </span>
                <span class="post-meta-item" title="阅读次数">
                    <span class="post-meta-item-icon">
                        <i class="fa fa-eye"></i>
                    </span>
                    <span class="post-meta-item-text">阅读次数：</span>
                    <span th:text="${article.views}"></span>
                </span>

            </div>
        </header>

        <div class="post-body" itemprop="articleBody" th:utext="${article.content}"></div>

        <div>
            <ul class="post-copyright">
                <li class="post-copyright-author">
                    <strong>本文作者： </strong>
                    <th:block th:text="${article.author.nickname}"></th:block>
                </li>
                <li class="post-copyright-link">
                    <strong>本文链接：</strong>
                    <a th:href="${'https://' + base.siteDomain + '/article/' + article.url}" th:title="${article.title}" th:text="${'https://' + base.siteDomain + '/article/' + article.url}"></a>
                </li>
                <li class="post-copyright-license">
                    <strong>版权声明： </strong>本博客所有文章除特别声明外，均采用 <a
                        href="https://creativecommons.org/licenses/by-nc-nd/4.0/" rel="noopener" target="_blank"><i
                        class="fa fa-fw fa-creative-commons"></i>BY-NC-ND</a> 许可协议。转载请注明出处！
                </li>
            </ul>
        </div>


<!--
        <div class="followme">
            <p>欢迎关注我的其它发布渠道</p>
            <div class="social-list">
                <div class="social-item">
                    <a target="_blank" class="social-link" href="https://t.me/channel_name">
                      <span class="icon">
                        <i class="fa fa-telegram"></i>
                      </span><span class="label">Telegram</span>
                    </a>
                </div>
                <div class="social-item">
                    <a target="_blank" class="social-link" href="/images/wechat_channel.jpg">
                      <span class="icon">
                        <i class="fa fa-wechat"></i>
                      </span>
                        <span class="label">WeChat</span>
                    </a>
                </div>
            </div>
        </div>
-->


        <footer class="post-footer">

            <div class="post-tags">
                <a th:each="tag : ${article.tags}" th:href="${'/tag/' + tag}" rel="tag">
                    <i class="fa fa-tag"></i>
                    <th:block th:text="${tag}"></th:block>
                </a>
            </div>

            <div class="post-nav">
                <div class="post-nav-item" th:if="${prev != null}">
                    <a th:href="${'/article/' + prev.url}" rel="prev" th:title="${prev.title}">
                        <i class="fa fa-chevron-left"></i>
                        <th:block th:text="${prev.title}"></th:block>
                    </a>
                </div>
                <div class="post-nav-item" th:if="${next != null}">
                    <a th:href="${'/article/' + next.url}" rel="next" th:title="${next.title}">
                        <th:block th:text="${next.title}"></th:block>
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>

        </footer>

        <div style="height: 50px"></div>

        <div class="blog-comment"></div>
        <script type="text/javascript" th:inline="javascript">
            window.onload = function () {
                new Comment({
                    element: '.blog-comment',
                    apiUrl: '/comment',
                    apiSubjectId: [[${article.id}]],
                });
            }
        </script>

    </article>

</div>
</body>
</html>
