<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="level" type="java.lang.Integer"*/-->
<!--/*@thymesVar id="childs" type="java.util.List<com.liux.blog.bean.vo.CatalogueVO>"*/-->

<body>
<div th:fragment="tree(childs, level)">
    <li th:class="${'nav-item nav-level-' + level}" th:each="child,iterator : ${childs}">
        <a class="nav-link" th:href="${'#' + child.title}">
            <span class="nav-number" th:text="${iterator.count + '.'}"></span>
            <span class="nav-text" th:text="${child.title}"></span>
        </a>
        <ol class="nav-child" th:if="${child.childs != null}">
            <th:block th:include="catalogue::tree(${child.childs}, (level + 1))"></th:block>
        </ol>
    </li>
</div>
</body>
</html>
