<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="blog" type="com.liux.blog.bean.vo.BlogVO"*/-->
<!--/*@thymesVar id="tag" type="java.lang.String"*/-->
<!--/*@thymesVar id="articles" type="java.util.List<com.liux.blog.bean.vo.ArticlePageVO>"*/-->
<!--/*@thymesVar id="pagination" type="com.liux.blog.bean.vo.PaginationVO"*/-->

<body>

<div class="content tag">
    <div class="post-block">
        <div class="posts-collapse">

            <div class="collection-title">
                <h2 class="collection-header" th:text="${tag}">
                    <small>标签</small>
                </h2>
            </div>

            <th:block th:each="article, iterStat : ${articles}">
                <div class="collection-year" th:if="${iterStat.first} or ${article.createTime.year != articles.get(iterStat.index - 1).createTime.year}">
                    <span class="collection-header" th:text="${article.createTime.year + 1900}"></span>
                </div>
                <article itemscope itemtype="http://schema.org/Article">
                    <header class="post-header">
                        <div class="post-meta">
                            <time itemprop="dateCreated" th:content="${#dates.format(article.createTime, 'yyyy-MM-dd HH:mm:ss')}" th:text="${#dates.format(article.createTime, 'MM-dd')}"></time>
                        </div>
                        <div class="post-title">
                            <a class="post-title-link" th:href="${'/article/' + article.url}" itemprop="url">
                                <span itemprop="name" th:text="${article.title}"></span>
                            </a>
                        </div>
                    </header>
                </article>
            </th:block>

        </div>
    </div>

    <nav class="pagination" th:if="${pagination.pages > 1}">
        <!-- 上一页按钮 -->
        <a class="extend prev" rel="prev" th:href="${'/tag/' + tag + '/' + (pagination.pageNum - 1)}" th:if="${pagination.pageNum > 1}">
            <i class="fa fa-angle-left" aria-label="上一页"></i>
        </a>
        <!-- 首页 -->
        <a class="page-number" th:href="${'/tag/' + tag + '/1'}" th:if="${pagination.pageNum > 2}">1</a>
        <!-- 首页间隔 -->
        <span class="space" th:if="${pagination.pageNum > 3}">&hellip;</span>
        <!-- 上一页 -->
        <a class="page-number" th:href="${'/tag/' + tag + '/' + (pagination.pageNum - 1)}" th:if="${pagination.pageNum > 1}" th:text="${pagination.pageNum - 1}"></a>
        <!-- 当前页 -->
        <span class="page-number current" th:text="${pagination.pageNum}"></span>
        <!-- 下一页 -->
        <a class="page-number" th:href="${'/tag/' + tag + '/' + (pagination.pageNum + 1)}" th:if="${pagination.pageNum <= pagination.pages - 1}" th:text="${pagination.pageNum + 1}"></a>
        <!-- 尾页间隔 -->
        <span class="space" th:if="${pagination.pageNum <= pagination.pages - 3}">&hellip;</span>
        <!-- 页尾 -->
        <a class="page-number" th:href="${'/tag/' + tag + '/' + pagination.pages}" th:if="${pagination.pageNum <= pagination.pages - 2}" th:text="${pagination.pages}"></a>
        <!-- 下一页按钮 -->
        <a class="extend next" rel="next" th:href="${'/tag/' + tag + '/' + (pagination.pageNum + 1)}" th:if="${pagination.pageNum < pagination.pages}">
            <i class="fa fa-angle-right" aria-label="下一页"></i>
        </a>
    </nav>

</div>
</body>
</html>
