<!DOCTYPE html>
    <html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="blog" type="com.liux.blog.bean.vo.BlogVO"*/-->
<!--/*@thymesVar id="tags" type="java.util.List<com.liux.blog.bean.vo.TagVO>"*/-->

<body>

<div class="content page posts-expand">

    <div class="post-block" lang="zh-CN">

        <header class="post-header">
            <h1 class="post-title" itemprop="name headline">标签</h1>
            <div class="post-meta"></div>
        </header>

        <div class="post-body">
            <div class="tag-cloud">
                <div class="tag-cloud-title" th:text="${'目前共计 ' + tags.size + ' 个标签'}"></div>
                <div class="tag-cloud-tags">
                    <a th:each="tag : ${tags}" th:href="${'/tag/' + tag.name}" th:style="${'font-size: ' + (tag.articleCount + 10) + 'px; color: black; opacity:' + (tag.articleCount / 20.0 + 0.5)}" th:text="${tag.name}"></a>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>
