<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>博客邮件发送测试</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        h1 {
            color: #333;
        }
        p {
            margin-bottom: 10px;
        }
        .annotation {
            font-size: 0.9em;
            color: #666;
        }
    </style>
</head>
<body>
<h1>博客邮件发送测试</h1>
<p>来自博客的自动邮件：<br>
    <span class="annotation">Automated emails from blogs:</span>
</p>
<p>如果你能看到这封邮件，说明博客的邮件参数已正确配置，祝您使用愉快！<br>
    <span class="annotation">If you can see this email, it means that the email parameters of the blog are correctly configured, I wish you a happy use!</span>
</p>
</body>
</html>